::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 0px 0px 8px 0px;
}

::-webkit-scrollbar-thumb {
    background: #71767a;
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip: padding-box;
    height: 22.43px;
}

::-webkit-scrollbar-thumb:hover {
    background: #71767a;
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip: padding-box;
    height: 22.43px;
}

.border {
    width: 400px;
    height: 200px;

    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    border-top: none;

    padding: 24px 22px 16px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputText {
    width: 142px;
    height: 42px;
    padding: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    border: none;
}

.inputText:focus-visible {
    outline: none;
}

.inputText::placeholder {
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    color: #71767a;
    font-family: Roboto;
}

.select {
    width: 400px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 8px 8px 0px 0px;
    padding: "16px 0px 0px 0px";
}

.keysFont {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    width: 40px;
}

.labelFont {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #71767a;
    width: 250px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 16px;
}

.infoFont {
    width: 160px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #71767a;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputChapter {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.arrowStyle {
    padding-left: 50px;
}

.rembo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 91px;
    padding-left: 96px;
    height: 23px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #71767a;
}

.upperText {
    display: flex;
    flex-direction: column;
    height: 23px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #71767a;
}

.checkedArrowPos {
    padding-right: 9px;
}

.selectCheckboxArrow {
    display: flex;
    justify-content: flex-end;
    width: 60px;
    height: 21px;
    padding-right: 9px;
}

.checkboxArrowSize {
    width: 13px;
    height: 10.5px;
}
